<!DOCTYPE html>
<html>

<head>
    <title>PC Parts | Components | <%=component.name%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1><%=component.name%></h1>

    <p><%=component.description%></p>

    <a href="/components">Go back</a>
</body>

</html>